*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(7, 11, 11);
}

.form-container {
    width: 100%;
    display: flex;
    padding: 50px 20px;
    justify-items: center;
}

form {
    display: block;
    margin:auto;
    width: 400px;
    background-color: rgb(202, 91, 171);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0,1);
    box-shadow: 0 0 40px rgba(8,7,16,0,6);
    padding: 50px 35px;
}

form h3 {
  font-size: 25px;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 10px black;
}

label {
      display:block;
      margin-top: 2rem;
      font-size: 1rem;
}

input {
  outline:none;
  border: none;
  width: 100%;
  background-color: #9bc9e467;
  border-radius: 4px;
  padding: 10px 10px;
  margin-top: 8px;
  font-weight: 100;
}

input::placeholder {
  color: rgb(4, 7, 8);
}

.pass {
  position:relative; 
}

.pass i {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  cursor: pointer;
  right:20px;
}

#show-hide {
  font-size: 1rem;
}

button {
  margin-top: 30px;
  width: 100%;
  background-color: #f4f1f1;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor:pointer;
  border:none;
  transition: all 0.1s;
}

button:hover {
  transform:translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem #2a2a2c;
}
hr {
  margin-top: 20px;
  height: 1px;
  background-color: #a4bb257f;
  border: none;
  outline: rgb(188, 112, 157); 
}
.social-container h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: center;
  width: 1005;
}

.social div {
  width: 150px;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: rgba(255,255,255,0.27);
  text-align: enter;
  margin: 0 14px;
  cursor:pointer;
}
.social div  a:hover {
  transform:translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem #2a2a2c;
}

.social div a {
  font-size: 1rem;
}